@font-face {
  font-family: ume;
  src: url('../fonts/ume_gothic.ttf');
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  font-size: 50px;
  font-family: ume;
}

p {
  font-size: 26px;
  font-family: ume;
}

#green {
  color: green;
}
