body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif !important;
}

.title {
  font-size: 50px;
}

p {
  font-size: 26px;
}

#green {
  color: green;
}
