:root {
  --dark-color: #2f2f2f;
  --light-color: #eee;
  --link-light-color: #28afb0;
  --link-dark-color: #19647e;
}

body {
  font-size: 1.05em;
  max-width: 45em;
  margin: auto;
  padding: 0 2em;
  font-family: sans-serif;
  background: var(--light-color);
  color: var(--dark-color);
}

a {
  color: var(--link-light-color);
}

a:hover, a:visited {
  color: var(--link-dark-color);
}

nav a, h1 a, footer a {
  text-decoration: none;
}

nav a {
  padding: 0.4em;
}

nav a:first-child {
  padding-left: 0;
}

h1 {
  font-weight: normal;
}

/* Footer is small and right-aligned. */
footer ul {
  float: right;
  font-size: smaller;
  text-align:right;
  list-style: none;
}

footer div {
  float: left;
  font-size: smaller;
  text-align: left;
}
