<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/favicon.png">
  
  <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/assets/css/main.css">  
  <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/assets/css/syntax.css">  

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quattrocento+Sans">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

  <meta name="description" content="{{ site.description }}" />
  <meta property="og:description" content="{{ site.description}}" />

  {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    <title>{{ page.title }}</title>
  {% endif %}
</head>
