.class-number {
  /* undo italics */
  font-style: normal;
  float: right;
  color: #9a9a9a;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 0.8rem;
}

.small {
  font-size: 1rem;
  margin: 0;
}

video {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
