<!DOCTYPE html>
<!-- Personal website by Claire Nord
  Created 2016/07/05
  Last edited 2017/07/28
  Source at https://github.com/cmnord/cmnord.github.io
-->
<html>
  {% include head.html %}
  <body>
    {% if page.title %}
      <h1><a href="/">{{ page.title }}</a></h1>
    {% endif %}

    <nav>
      <a href="/">home</a>
      <a href="/classes">classes</a>
    </nav>

    {{ content }}

    <footer>
     <ul>
      {% for link in site.links %}
        <li><a href={{link[1]}}>{{link[0]}}</a></li>
      {% endfor %}
      <li><a href="/mystery" id="symbol" title="?">?</a></li>
      </ul>
    </footer>

  {% include ga.html %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/main.js"></script>
  </body>
</html>
